BOT_TOKEN=
ADMIN_IDS=
DATABASE_URL=
RUN_BOT=1
BOT_MODE=webhook
WEBAPP_DEFAULT_TG_ID=
WEBHOOK_BASE_URL=
WEBHOOK_SECRET=
LOG_CHAT_ID=
CRYPTO_BOT_URL=
TRC20_ADDRESS=
SUPPORT_URL=https://t.me/your_support_chat
